@model IEnumerable<MobileShop.Models.Product>

@{
    ViewBag.Title = "جابز کالا";
}
<div class="container bg-white rounded border border-0 shadow-1 p-4">
    <div class="row">
        <div class="col-6 rtl text-start">
            <span>
                مشاهده همه
            </span>
        </div>
        <div class="col-6 rtl text-end">
            <h5>
                صفحه اصلی
            </h5>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col col-3 text-center">
                <a href="@Url.Action("Details", "Product", new {id = item.Id})">
                    <div class="product-item shadow shadow-1 rounded rouned-5 p-3">
                        <img src="~/Images/@Html.DisplayFor(modelItem => item.ImageUrl)" alt="image" width="240"/>
                        <h5 class="text-center product-title pt-3">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <span class="pt-2">@item.Description</span>
                    </div>
                </a>
            </div>
        }
    </div>
</div>