@model List<MobileShop.Models.OrderItem>

@{
    ViewBag.Title = "سبد خرید";
}
<div class="container bg-white rounded border border-0 shadow-1 p-4">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col col-3 text-center">
                <a href="@Url.Action("Details", "Product", new {id = item.Product.Id})">
                    <div class="product-item shadow shadow-1 rounded rouned-5 p-3">
                        <img src="~/Images/@Html.DisplayFor(modelItem => item.Product.ImageUrl)" alt="image" width="240"/>
                        <h5 class="text-center product-title pt-3">@Html.DisplayFor(modelItem => item.Product.Name)</h5>
                    </div>
                </a>
            </div>
        }
        @* <form action="@Html.Action("ChangeStatus","Order")"> *@
        @*     <input type="hidden" name="status" value="complete" /> *@
        @*     <input class="btn btn-warning border-0 bg-warning w-75 p-2" type="submit" value="نهایی کردن سفارش" /> *@
        @* </form> *@
    </div>
</div>